@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600&display=swap');

:root {
    --cor-texto-primario: #6C675E;
    --cor-texto-secundario: #FFFFFF;
    --fonte-principal: 'Sora', sans-serif;

    --cor-botao-hover: #00E275;

    /* 60% */
    --cor-principal: #D5F9D4;
    /* 30% */
    --cor-secundaria: #FFFFFF;
    /* 10% */
    --cor-terciaria: #00BF63;

    --background-principal: #D5F9D4;
    --background-secundario: #FFFFFF;
    --background-terciario: #100404;
}


body {
    box-sizing: border-box;
    background-color: var(--background-principal);
    color: var(--cor-texto-primario);


}


/*===========PAGINA01============*/

.apresentacao {
    padding: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.apresentacao__coluna {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
}

.apresentacao__logo {
    width: 380px;
    image-rendering: crisp-edges;
    align-items: center;
}

.conteudo__titulo__principal {
    font-size: 2rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    line-height: 1.2em;
}

.conteudo__subtitulo__principal {
    font-size: 1.2rem;
    font-family: var(--fonte-principal);
    font-weight: 100;
    line-height: 1.2em;
}

.conteudo__texto__principal {
    font-size: 1.2rem;
    font-family: var(--fonte-principal);
    font-weight: 300;
    line-height: 1.2em;
}

.conteudo__botao__principal {
    width: 86%;
    display: flex;
    justify-content: center;


    background-color: var(--cor-terciaria);
    border: 1px solid var(--cor-terciaria);
    border-radius: 20px;


    color: var(--cor-texto-secundario);
    font-family: var(--fonte-principal);

    font-size: 1rem;
    font-weight: 500;
    padding: 26px 0;

}

.conteudo__botao__principal:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-secundaria);
    border: 1px solid transparent;

}

.apresentacao__coluna__imagem {
    width: 840px;
}

.apresentacao__imagem {
    width: 108%;
    image-rendering: crisp-edges;
}

.row {
    display: flex;
    flex-direction: row;
}

/*===========PAGINA02============*/

.metodologia {
    background-color: var(--background-secundario);
    flex-direction: column;

    padding: 10% 12%;
    display: flex;
    align-items: center;
}

.metodologia__coluna {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px
}

.metodologia__objetos {
    display: flex;
    flex-direction: row;
    padding: 4% 0%;
    gap: 14px;
}

.metodologia__elemento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 24px;
    padding: 4% 4%;
    width: 35%;

    font-weight: 200;
    font-size: 0.875rem;
    line-height: 1.6em;
    text-align: start;

    font-family: var(--fonte-principal);
    color: var(--cor-texto-secundario);
    background-color: var(--cor-terciaria);
}

.metodologia__elemento__titulo {

    margin-top: 2em;
    font-size: 0.875rem;
    font-weight: 800;


    text-align: center;
    text-transform: uppercase;
}

.metodologia__imagem {
    image-rendering: crisp-edges;
    margin-bottom: -300px;
    width: 100%;
}


.estrategia {
    background-color: var(--background-principal);
    flex-direction: column;

    padding: 12% 12%;
    display: flex;
    align-items: center;
}

.estrategia__coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px
}


.estrategia__titulo__principal {
    font-size: 2.2rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    line-height: 1.2em;
}


.estrategia__coluna__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 100;
    line-height: 1.2em;
    text-align: start;
}


.estrategia__imagem {
    image-rendering: crisp-edges;
    margin-bottom: -300px;
    width: 100%;
}




/*===========PAGINA03============*/


.chamada {
    background-color: var(--background-terciario);
    padding: 18% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 40px;
}

.chamada__coluna {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
}


.chamada__coluna__imagem {
    width: 840px;
}

.chamada__imagem {
    width: 80%;
    image-rendering: crisp-edges;
}

.chamada__titulo__principal {
    font-size: 2rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    line-height: 1.2em;
    color: var(--cor-secundaria);
    text-align: right;
}

/*===========PAGINA04============*/


.quemsomos {
    background-color: var(--background-secundario);
    padding: 16% 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.quemsomos__coluna {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px 0px;
}

.quemsomos__coluna__imagem {
    width: 400px;
}

.quemsomos__imagem {
    width: 100%;
    image-rendering: crisp-edges;
}

/*===========PAGINA05============*/

.main__footer {
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;

    background-color: var(--background-terciario);
    color: var(--cor-secundaria);
    padding: 2.5rem;
    text-align: center;
}

/* css break points: every css attribute inside "@media" will be activated when
the condition is met, so, when the browser interprets that the max-width of the 
screen has reach 1200px, everything below will take place*/

@media (max-width: 1024px) {

    .apresentacao {
        flex-direction: column;
        /*the padding won't be visualized at glance until the content fill all
         the space avaliable, because the padding is too far away from the pre-configured
         content of our desktop*/
    }

    .apresentacao__coluna {
        width: 100%;
    }


    .apresentacao__links__botao {
        width: 100%;
    }


    .apresentacao__coluna__imagem {
        width: 600px;
    }

    .apresentacao__imagem {
        width: 100%;
        image-rendering: crisp-edges;
    }

}

/*Podemos definir uma largura máxima de “480px” para o celular: @media (max-width: 480px),
e em outra media query definir uma largura máxima de “800px” para os tablets: @media (max-width: 800px),
e então atribuímos os ajustes necessários dentro de cada media query, dessa forma teremos nosso site 100% responsivo.
Podemos também definir intervalos para os tamanhos de telas com um único media query, atribuímos o valor mínimo e depois
o valor máximo separando ele pelo atributo and, veja: @media (min-width: 480px ) and (max-width: 800px), nesse caso os
estilos serão aplicados em telas de no mínimo “480px” e de no máximo “800px”.*/

